/* CSS file for typography purposes, inlcuding fonts, font size, font colors, etc. 
*  Headings: Montserrat, Body: Roboto/Lexend Deca/Avenir
*/

/* h1: heading, h2: sub-heading */
h1,
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #41444b;
}

/* h4: body, h3/h5/h6: for any other specific purposes  */
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: normal;
  color: #41444b;
}
